<div class="container main-container">

  <h3>Lista de Developers</h3>

  <div class="input-group">
    <input type="text" class="form-control" placeholder="Pesquisa..."
        [(ngModel)]="parametroPesquisa">
    <button class="btn btn-outline-primary button-pesquisar btn-limpar" type="button"
        (click)="limparPesquisa()">Limpar</button>
    <button class="btn btn-outline-primary button-pesquisar" type="button"
        (click)="pesquisar(parametroPesquisa)">Pesquisa</button>
  </div>

	<br>

  <table class="table table-hover">
      <thead class="table-default">
          <tr>
              <th>Nome</th>
              <th>Idade</th>
              <th class="text-center">Hobby</th>
              <th class="text-center">Data de nascimento</th>
              <th></th>
          </tr>
      </thead>
      <tr *ngFor="let developer of developers">
          <td>{{ developer.nome }}</td>
          <td>{{ developer.idade }}</td>
          <td class="text-center">{{ developer.hobby }}</td>
          <td class="text-center">{{ developer.datanascimento | date:"dd/MM/yyyy" }}</td>
          <td>
              <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Ações</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem [routerLink]="['/developers-editar/', developer.id]">Editar</button>
                <button ngbDropdownItem [routerLink]="['/developers-excluir/', developer.id]">Excluir</button>
                </div>
            </div>
          </td>
      </tr>
  </table>
</div>