<div class="container main-container">
  <h1>Editar Developer</h1>
  <hr>
  <form novalidate="novalidate" (ngSubmit)="gravar()" [formGroup]="developerForm">

      <div class="alert alert-danger" *ngIf="errors.length > 0">
          <h3 id="msgRetorno">Algo de errado não está certo:</h3>
          <ul>
              <li *ngFor="let error of errors">{{ error }}</li>
          </ul>
      </div>

      <input type="hidden" id="id" name="id" value="">

      <div class="form-row">
          <div class="form-group col-md-6">

              <div class="form-group"> 
                  <label class="control-label">Nome</label>
                  <div>
                      <input class="form-control" id="nome" type="text" placeholder="Nome (requerido)" formControlName="nome" [ngClass]="{'is-invalid': displayMessage.nome }" />
                      <span class="text-danger" *ngIf="displayMessage.nome">
                          <p [innerHTML]="displayMessage.nome"></p>
                      </span>
                  </div>
              </div>

              <div class="form-group"> 
                <label class="control-label">Sexo</label>
                <div class="form-group"> 
                    <select class="form-control" id="sexo" formControlName="sexo">
                        <option *ngFor="let item of sexoOpcoesLista" type="text" id="sexo" [value]="item.id"> {{item.name}} </option>
                    </select>
                    <span class="text-danger" *ngIf="displayMessage.sexo">
                        <p [innerHTML]="displayMessage.sexo"></p>
                    </span>
                </div>
              </div>

              <div class="form-group"> 
                  <label class="control-label">Idade</label>
                  <div>
                      <input class="form-control" id="idade" type="text" placeholder="idade (requerido)" formControlName="idade" [ngClass]="{'is-invalid': displayMessage.idade }" />
                      <span class="text-danger" *ngIf="displayMessage.idade">
                          <p [innerHTML]="displayMessage.idade"></p>
                      </span>
                  </div>
              </div>

              <div class="form-group"> 
                  <label class="control-label">Hobby</label>
                  <div>
                      <input class="form-control" id="hobby" type="text" placeholder="hobby (requerido)" formControlName="hobby" [ngClass]="{'is-invalid': displayMessage.hobby }" />
                      <span class="text-danger" *ngIf="displayMessage.hobby">
                          <p [innerHTML]="displayMessage.hobby"></p>
                      </span>
                  </div>
              </div>

              <div class="form-group"> 
                  <label class="control-label">Data de Nascimento</label>
                  <div>
                      <input class="form-control" id="datanascimento" type="text" placeholder="datanascimento (requerido)" formControlName="datanascimento" [ngClass]="{'is-invalid': displayMessage.datanascimento }" />
                      <span class="text-danger" *ngIf="displayMessage.datanascimento">
                          <p [innerHTML]="displayMessage.datanascimento"></p>
                      </span>
                  </div>
              </div>
            </div>
      </div>


      <div class="form-group">
          <input type="submit" value="Salvar" class="btn btn-primary">&nbsp;
          <a class="btn btn-info" [routerLink]="['/developers-listar-todos']">Voltar</a>
      </div>

      <div>
      </div>
  </form>
</div>